@charset "UTF-8";
html {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-v16-latin-600.woff.woff2") format("woff2"), url("../fonts/josefin-sans-v16-latin-600.woff.woff") format("woff");
}
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v16-latin-300.woff2") format("woff2"), url("../fonts/josefin-sans-v16-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aleo-v4-latin-regular.woff2") format("woff2"), url("../fonts/aleo-v4-latin-regular.woff") format("woff");
}
.page {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  border: 15px solid white;
}

.container {
  box-sizing: border-box;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  width: 55px;
  height: 60px;
  background-color: #496bfe;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 60px solid #496bfe;
  border-right: 60px solid transparent;
  top: 0;
  left: 55px;
  position: absolute;
}

.btn__link {
  text-decoration: none;
}

.btn__text {
  display: block;
  color: white;
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  padding-top: 23px;
  position: relative;
  z-index: 3;
}

.header {
  background-image: url("../images/1-min.jpg");
  background-repeat: none;
  background-size: cover;
  height: calc(100vh - 15px);
  display: flex;
  flex-direction: column;
  min-height: 530px;
}

.seach {
  flex-grow: 1;
  position: relative;
}

.seach__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.seach__item {
  font-size: 48px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.8px;
}

.seach__text {
  padding-top: 15px;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 6.82px;
  padding-bottom: 50px;
}

.seach__form {
  text-align: center;
}

.seach__inputblock {
  margin: 0 auto;
  max-width: 650px;
  background-color: white;
}

.seach__input {
  text-align: left;
  border: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2.8px;
  width: 430px;
  padding-left: 62px;
  cursor: pointer;
}

.seach__input:focus {
  outline: white;
  color: #496bfe;
  font-size: 18px;
}

.seach__input::placeholder {
  text-align: center;
}

.seach__button {
  width: 150px;
  height: 60px;
  border: 2px solid white;
  background-color: #5474fd;
  cursor: pointer;
  position: relative;
}

.seach__button::before {
  content: "";
  width: 1px;
  height: 56px;
  background-color: #496bfe;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

.seach__button:hover::before {
  width: 100%;
  z-index: 3;
}

.seach__button span {
  position: relative;
  color: white;
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  letter-spacing: 1.4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 13px;
  z-index: 5;
}

.seach__button:hover span {
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.seach__icon {
  position: relative;
  color: white;
  text-align: right;
  vertical-align: middle;
  z-index: 5;
}

.seach__button:hover .seach__icon {
  color: yellow;
}

.down {
  display: block;
  height: 50px;
  width: 110px;
  margin: 0 auto;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.down__link {
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.8px;
  text-decoration: none;
}

.down__link::before {
  position: absolute;
  content: "";
  height: 10px;
  border: 1px solid white;
  transform: skewX(-45deg);
  top: 30px;
  left: 55px;
}

.down__link::after {
  position: absolute;
  content: "";
  height: 10px;
  border: 1px solid white;
  transform: skewX(45deg);
  top: 30px;
  left: 44px;
}

.down:hover .down__link {
  color: #496bfe;
}

@media (max-width: 767px) and (min-width: 576px) {
  .seach__inputblock {
    width: 520px;
  }

  .seach__input {
    padding-left: 30px;
    width: 360px;
  }

  .seach__button {
    width: 120px;
  }
}
@media (max-width: 575px) {
  .seach__input {
    width: 167px;
    padding-left: 0;
    font-size: 12px;
  }

  .seach__inputblock {
    width: 300px;
  }

  .seach__button {
    width: 120px;
  }

  .down {
    display: none;
  }

  .seach__item {
    font-size: 40px;
  }
}
.menu {
  background-color: #5474fd;
}

.menu__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.menu__logo {
  padding: 28px 0 32px;
}

.menu__list {
  display: flex;
  padding: 28px;
  cursor: pointer;
}
@media (max-width: 860px) {
  .menu__list {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.menu__item {
  padding: 0 21px;
}

.menu__links {
  color: white;
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 2px;
}

.menu__item:hover .menu__links {
  color: yellow;
}

.menu__btn {
  margin-top: 28px;
  width: 30px;
  height: 30px;
  display: none;
  position: relative;
  cursor: pointer;
}
@media (max-width: 860px) {
  .menu__btn {
    display: block;
  }
}

.menu__burger,
.menu__btn::before,
.menu__btn::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.3s ease-in-out;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

.menu__burger {
  top: 13px;
}

@media (max-width: 860px) {
  .menu__input:checked ~ .menu__list {
    display: block;
  }
  .menu__input:checked + .menu__btn .menu__burger {
    background-color: transparent;
  }
  .menu__input:checked + .menu__btn::before {
    top: 13px;
    transform: rotate(45deg);
  }
  .menu__input:checked + .menu__btn::after {
    top: 13px;
    transform: rotate(-45deg);
  }

  .menu__list {
    width: 60%;
    text-align: center;
    background-color: #5474fd;
    transform: translateY(-125%);
    transition: 0.3s ease-in-out;
  }
}
.choose {
  background-image: url("../images/2.jpg");
  background-repeat: none;
  background-size: cover;
}

.choose__block {
  display: flex;
}

.сhoose__left,
.сhoose__right {
  box-sizing: border-box;
  max-width: 570px;
  padding: 0 15px;
  margin: 0 auto;
}

.choose__item {
  padding: 204px 0 62px;
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.choose__text {
  max-width: 530px;
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  padding-bottom: 35px;
  letter-spacing: 1.6px;
}

.choose__link {
  margin-bottom: 132px;
}

.сhoose__right {
  padding-top: 120px;
}

.choose__img {
  display: block;
}

.choose__img:first-child {
  margin-left: 50px;
  margin-bottom: 5px;
}

.choose__img:last-child {
  margin-left: 175px;
}

@media (max-width: 900px) and (min-width: 850px) {
  .choose__item {
    padding: 180px 0 50px;
    text-align: center;
    font-size: 30px;
  }

  .choose__text {
    text-align: center;
  }
}
@media (max-width: 849px) and (min-width: 768px) {
  .choose__block {
    display: block;
  }

  .choose__item {
    padding: 100px 0 30px;
    text-align: center;
    font-size: 24px;
  }

  .choose__text {
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
  }

  .сhoose__right {
    padding: 20px 0;
  }

  .choose__link {
    margin: 0 auto;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .choose__block {
    display: block;
  }

  .choose__item {
    padding: 50px 0 30px;
    text-align: center;
    font-size: 24px;
  }

  .choose__text {
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
  }

  .сhoose__right {
    padding: 20px 0;
  }

  .choose__link {
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .choose__block {
    display: block;
  }

  .choose__item {
    padding: 50px 0 30px;
    text-align: center;
    font-size: 24px;
  }

  .choose__text {
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
  }

  .сhoose__right {
    padding: 20px 0;
  }

  .choose__link {
    margin: 0 auto;
  }

  .choose__img:first-child {
    margin: 0 auto 5px;
    width: 75%;
  }

  .choose__img:last-child {
    margin: 0 auto;
    width: 75%;
  }
}
.book {
  background-color: #333333;
  position: relative;
}

.book__block {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.book__cont {
  margin: 0 auto;
  display: block;
  padding-top: 80px;
}

.book__img {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 10;
}

.book__item {
  padding: 15px 0 119px;
  color: #e8e8e8;
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  background-color: #333333;
}

@media (max-width: 849px) and (min-width: 768px) {
  .book__item {
    font-size: 30px;
    padding: 15px 0 100px;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .book__item {
    font-size: 25px;
    padding: 15px 0 75px;
  }
}
@media (max-width: 575px) {
  .book__item {
    font-size: 20px;
    padding: 15px 0 50px;
  }
}
.country-first {
  background-image: url("../images/8-min.jpg");
  background-repeat: none;
  background-size: cover;
}

.country-second {
  background-image: url("../images/9-min.jpg");
  background-repeat: none;
  background-size: cover;
}

.country-first,
.country-second {
  padding: 229px 0 100px;
  min-height: 700px;
  box-sizing: border-box;
}

.country__description {
  display: block;
  box-sizing: border-box;
  padding: 50px 0 50px 30px;
  max-width: 540px;
  background-color: rgba(35, 35, 35, 0.9);
}

.country__item {
  color: #e8e8e8;
  font-size: 20px;
  text-align: left;
  letter-spacing: 1.5px;
}

.country__i {
  padding: 30px 0;
  font-size: 20px;
  text-transform: uppercase;
}

.country__text {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  padding-bottom: 48px;
}

.country-second .country__description {
  margin: 0 0 0 auto;
}

@media (max-width: 767px) and (min-width: 576px) {
  .country-first,
.country-second {
    padding: 159px 0 0;
  }
}
@media (max-width: 575px) {
  .country-first,
.country-second {
    padding: 80px 0 0;
  }
}
.review {
  background-image: url("../images/11-min.jpg");
  background-repeat: none;
  background-size: cover;
  padding-bottom: 200px;
}

.review__item {
  padding: 120px 0 94px;
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.review__block {
  display: flex;
  background-color: #333333;
}

.review__img {
  width: 100%;
  display: block;
  margin-right: 60px;
}

.review__textblock {
  margin: 0 auto;
  max-width: 551px;
}

.review__icon {
  padding-bottom: 8px;
}

.review__i {
  padding: 50px 0 33px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.review__text {
  color: #e8e8e8;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  padding-bottom: 48px;
}

@media (max-width: 849px) and (min-width: 768px) {
  .review__block {
    display: block;
  }

  .review {
    padding-bottom: 150px;
  }
}
@media (max-width: 767px) and (min-width: 576px) {
  .review__item {
    padding: 70px 0 50px;
  }

  .review__block {
    display: block;
  }

  .review {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .review__item {
    padding: 50px 0 50px;
  }

  .review__block {
    display: block;
  }

  .review {
    padding-bottom: 50px;
  }
}
.footer {
  background-color: #232323;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  width: 163px;
  height: 20px;
  padding-top: 120px;
}

.footer__item {
  color: #232323;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1.6px;
  padding: 15px 0 15px;
}

.footer__icons {
  text-align: center;
  padding-bottom: 52px;
  transition: 0.3s ease-in-out;
}

.icon {
  height: 15px;
  width: 15px;
  fill: white;
}

.footer__link {
  text-decoration: none;
  padding-right: 24px;
}

.footer__link:last-child {
  padding-right: 0px;
}

.footer__link:hover .icon {
  fill: #5474fd;
  width: 30px;
}
/*# sourceMappingURL=style.css.map */