.secondary-heading {
    font-size: 36px;
    font-weight: 300;
    font-family: $secondary-fonts;

    @media (max-width: $LG ) {
        font-size: 26px;
        }
}

.tertiary-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.paragraph {
    font-size: $default-font-size;
    line-height: $default-line-height;
    font-family: $default-fonts;
    font-weight: 300;

    @media (max-width: $LG ) {
        font-size: $small-font-size;
        }
}
