.u-big-m-bottom {
    margin-bottom: 50px;
}

.u-medium-m-bottom {
    margin-bottom: 30px;
}

.u-letter-sp2 {
    letter-spacing: 2px;
}

.u-justify-end {
    justify-content: flex-end;
}

.u-text-center {
    text-align: center;
}
