.btn {
    display: block;
    width: 225px;
    height: 60px;
    background-color: $btnBg;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    width: 55px; 
    height: 60px; 
    background-color: $ultramarineBlue;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
}

.btn:hover::before {
    width: 100%;
}

.btn::after {
    content: "";
    width: 0; 
    height: 0; 
    border-bottom: 60px solid $ultramarineBlue;
    border-right: 60px solid transparent;
    top: 0;
    left: 55px;
    position: absolute;
}

.btn__link {
    text-decoration: none;
}

.btn__text{
    display: block;
    color: $btnText;
    font-family: $secondary-fonts;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    padding-top: 23px;
    position: relative;
    z-index: 3;
}

