.button{
    background-color: $button__default_color;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;

    &__text, &__img{
        z-index: 10;
        padding: 0 5px;
    }

    &__text{
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        color: $button__content_color;
    }

    &::before{
        content: '';
        display: block;
        width: 200%;
        height: 500%;
        top: 0;
        left: 0;
        transform: rotate(45deg) translate(100% , 100%);
        background-color: $button__slider_color;
        position: absolute;
        transition: transform 1s ease-in-out;
    }

    &_slider-hidden::before{
        transform: rotate(45deg) translate(-100% ,70%);
    }

    &:hover::before{
        transform: rotate(45deg) translate(-45% , 24%);
    }

    &_standart{
        width: 225px;
        height: 60px;
        display: flex;
        text-decoration: none;
        color: inherit;
        align-items: center;
        justify-content: center;

        @media (max-width: $MD) {
            width: 100%;
        }

        & > .button__text{
            font-size: 16px;
        }

        &::before{
            transform: rotate(45deg) translate(-60% , 60%);
        }
    }

}
