.page {
    font-family: $default-fonts;
    font-size: $default-font-size;
    line-height: $default-line-height;
    font-weight: 300;
    color: $textColorPage;
    border: 15px solid $colorBorderPage;
}
