.header{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    &__bg{
        @include bgCover('../img/header__bg.jpg');
        min-height: 820px;
        display: flex;
        flex-direction: column;
    }

    &__content-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 29px;
    }

    &__title-wrap {
        margin: 0 auto;
        text-align: center;
        padding-bottom: 45px;
        padding-top: 0;
    }

    &__title{
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 0.06875em;

        @media (max-width: $SM) {
            font-size: 36px;
        }
    }

    &__title-description{
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 0.2681818181em;
        line-height: 1;
        padding-left: 5px;

        @media (max-width: $SM) {
            font-size: 14px;
        }
    }

    &__search{
        display: flex;
        justify-content: center;
        background-color: $header__search-input-bg;
        padding: 2px;
        width: 56.859649%;
        height: 60px;

        @media (max-width: $MD){
            width: 100%
        }

        @media (max-width: $SM){
            flex-wrap: wrap;
            height: auto;
        }

        &-input{
            flex-grow: 1;
            outline: none;
            border: none;
            padding: 0 5px;

            @media (max-width: $SM){
                height: 60px;
            }

            &::placeholder{
                text-align: center;
                font-size: 14px;
                letter-spacing: 1.8px;
            }

            &:focus{
                outline: $button__default_color solid 2px ;
            }
        }

        &-button{
            width: 145px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            padding-left: 28px;

            @media (max-width: $SM){
                height: 60px;
                width: 100%;
                justify-content: center;
            }
        }
    }

}
