.country {
    &:nth-child(even) {
        .row {
            justify-content: flex-end;
        }
    }

    padding-top: 230px;
    padding-bottom: 100px;
    &_house {
        background-image: url(../image/07.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $doveGray;
    }
    &_nature {
        background-image: url(../image/06.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $doveGray;
    }
    &__info {
        display: block;
        max-width: 540px;
        height: 370px;
        background-color: rgba(49, 43, 39, 0.9);
        line-height: 1.3;
        padding-left: 30px;
    }

    &__subtitle {
        font-size: 20px;
        padding: 35px 0;
    }

    &__title {
        padding-bottom: 25px;
    }

    &__button-wrapper {
        margin-top: 33px;
    }
}
