.footer{
    background-color: $MineShaft_2;
    padding: 107px  0 25px;

    &__info{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;

        &_logo{
            font-weight: 700;
            font-size: 24px;
            line-height: 1.083;
            text-transform: uppercase;
            letter-spacing: 2.5px;
        }

        &_slogan{
            font-size: 16px;
            letter-spacing: .5px;
            padding: 10px;
        }
    }
}

.social{
    margin-top: 7px;
    display: flex;
    justify-content: center;
}

.social-icon{
    box-sizing: border-box;
    display: inline-block;
    height: 28px;
    width: 28px;
    // border: 1px solid red;
    color:$Mercury;
    margin: 5px;
    padding: 5px;

    &:hover{
        border-radius: 5px;
    }

    & svg{
        height: 100%;
        width: 100%;
    }

    &:nth-child(3){
        color: $DodgerBlue;
    }

    &:nth-child(1):hover,
    &:nth-child(1):focus{
        color: $white;
        background-color: $AzureRadiance;
    }

    &:nth-child(2):hover,
    &:nth-child(2):focus{
        color: $PictonBlue;
        background-color: $white;
    }

    &:nth-child(3):hover,
    &:nth-child(3):focus{
        color: $white;
        background-color: $DeepCerulean;
    }

    &:nth-child(4):hover,
    &:nth-child(4):focus{
        color: $Scarlet;
        background-color: $white;
    }

    &:nth-child(5):hover,
    &:nth-child(5):focus{
        color: $Cardinal;
        background-color: $white;
    }
}
