.country-1{
    @include  bgCover('../images/spain-1_bg.jpg'); 
    background-position: top;
    padding-top: 200px;
    padding-bottom: 70px;
}

.card{
    padding: 45px 30px 50px;
    color: $white;
    font-size: 20px;
    background:rgb(0,0,0,.75);
    @media (max-width: 576px){
        padding: 10px;
        text-align: center;
    }

    &__country{
        padding-bottom: 30px;
        font-weight: 400;
    }

    &__place{
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: -3px;
        padding-bottom: 20px;
    }

    &__description{
        font-size: 16px;
        line-height: 1.625;
        letter-spacing: -1.1px;
        padding-bottom: 41px;
    }
}

@media (max-width: 768px){
    .country-1__info,
    .country-2__info{
        margin: 0 auto;
    }
}
