$defaultFontName: 'Josefin Sans';
$fontStyle: normal;

$defaultFollback: 'Arial, Helvetica, sans-serif';
$mainFont: $defaultFontName, $defaultFollback;

$secondaryFontName: 'Aleo';
$secondaryFollback: Georgia, 'Times New Roman', Times, serif;
$secondaryFont: $secondaryFontName, $secondaryFollback;

// Colors:
// Fonts:
$white: #ffffff;
$DustyGray:#999999;
$Mercury:#E8E8E8;

// Background:
$white: #ffffff;
$DodgerBlue: #5474FD;
$DodgerBlue_2: #496BFE;
$MineShaft: #333333;
$MineShaft_2: #232323;

// Socials:
$AzureRadiance: #1878F3;
$PictonBlue: #55ACEF;
$DeepCerulean: #007BB6;
$Scarlet: #EA1D00;
$Cardinal: #CB2229;
