.button {
    margin-top: 50px;
    width: 225px;
    height: 60px;
    border: none;
    background-image: url(../images/Buttonbackground.png);
    background-size: cover;
    font-size: 16pt;
    font-style: 400;
    color:$white;
    text-transform: uppercase;
}
