.section_fourth{
    min-height: 700px;
    background-image: url(../images/Rectangle_4141.png);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
