.section_third {
    min-height: 700px;
    background-image: url(../images/Rectangle_414.png);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
