.choose {
	@include bgCover("../images/section2.jpg");
	&__wrapper {
		display: flex;
	}

	&__description {
		padding: 240px 100px 170px 0;
		max-width: 510px;
	}

	&__title {
		font-family: $secondaryFont;
		color: $defaultTextColor;
		font-size: 36px;
		padding-bottom: 70px;
	}

	&__text {
		color: $secondaryFontColor;
		line-height: 1.4;
		padding-bottom: 35px;
	}
	&__images {
		display: block;
		max-width: 500px;
		padding-top: 120px;
	}

	&__img {
		max-width: 100%;
		max-height: 100%;
		float: left;
		&:first-of-type {
			padding-bottom: 5px;
		}
		&:nth-child(2) {
			max-width: 100%;
			float: right;
		}
		@media screen and (max-width: $MD) {
			display: none;
		}
	}
}
