.feedback {
    @include bgCover ('../images/section6.jpg');
    min-height: 750px;
    &__header {
        padding-top: 115px;
        text-align: center;
        padding-bottom: 100px;
    }

    &__title {
        font-family: $secondaryFont;
        font-size: 36px;
        color: $defaultTextColor;
    }

    &__img{
        max-width: 450px;
        height: 100%;
        @media screen  and (max-width: 800px){
            display: none;  
        }  
    }

    &__main {
        display: flex;   
        align-items: stretch;     
    }

    &__description {
        padding: 45px 50px 0 45px;
        max-width: 660px;
        box-sizing: border-box;
        background-color: $feedbackColor;
        position: relative;
        @media screen and (max-width: 800px){
            min-width: 100%;
            padding-right: 0;   
        }
    }


    &__author{
        font-size: 20px;
        text-transform: uppercase;
        color: $mercury;
        padding-bottom: 35px;
    }
    
    &__text {
        position: relative;
        color: $secondaryFontColor;
        line-height: 1.6;
        font-size: 14px;
       
        
        
        &::before{
            font-family: $fallback;
            position: absolute;
            color: #5474fd;
            font-size: 55px;
            content: '\201c';
            top: -30px;
            left: 0;
        }
    }
}
