.mountain {
	@include bgCover("../images/section5.jpg");
	padding-top: 230px;
	padding-bottom: 100px;
	min-height: 380px;

	&__description {
		float: right;
		display: block;
		box-sizing: border-box;
		max-width: 550px;
		background-color: $loftBlock;
		padding: 50px 20px 50px 20px;
	}

	&__subtitle,
	&__title {
		font-size: 20px;
	}

	&__subtitle,
	&__text {
		color: $loftTextColor;
	}

	&__title {
		color: $defaultTextColor;
		padding-top: 30px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 14px;
		padding-top: 30px;
		line-height: 1.6;
		padding-bottom: 50px;
	}
}
