/* fonts */

$defaultFont: "Josefin";
$secondaryFont: "Aleo";

$fallback: Arial, Helvetica, sans-serif;

$mainFont: $defaultFont, $fallback;
$secondaryFont: $secondaryFont, $fallback;

$defaultFontSize: 16px;

/* colors */

$white: #ffffff;
$dodgerBlue: #5474fd;
$dodgerBlueApprox: #496bfe;
$mercury: #e8e8e8;
$mineShaft: #333333;
$loftBlockmineShaft: rgba(
	$color: #232323,
	$alpha: 0.9,
);
$cloud: #bdbcbb;

$defaultTextColor: $white;
$secondaryFontColor: $mercury;
$buttonColor: $dodgerBlue;
$buttonHover: $dodgerBlueApprox;
$footerBg: $dodgerBlue;
$searchBg: $mineShaft;
$loftBlock: $loftBlockmineShaft;
$loftTextColor: $cloud;
$feedbackColor: $mineShaft;
$mainFooterBg: $mineShaft;

/*breakpoints */
//размер XL
$XL: 1200px;
$XL_width: 960px;
//размер LG
$LG: 992px;
$LG_width: 720px;
//размер MD
$MD: 768px;
$MD_width: 540px;
//размер SM
$SM: 576px;
$SM_width: 100%;
