@charset "UTF-8";
/*style*/
/* fonts */
/* colors */
/*breakpoints */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Josefin";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-latin-300.woff2") format("woff2"), url("../fonts/josefin-sans-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Josefin";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/josefin-sans-latin-600.woff2") format("woff2"), url("../fonts/josefin-sans-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/aleo-regular.woff2") format("woff2"), url("../fonts/aleo-regular.woff") format("woff");
}
.page {
  font-family: "Josefin";
  font-weight: 300;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  display: block;
  text-decoration: none;
  width: 220px;
  height: 60px;
  border-color: transparent;
  background-color: #5474fd;
  overflow: hidden;
  position: relative;
}
.button:hover .button_bg {
  transform: translateX(0%);
}
.button_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_bg {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 20%;
  right: 20%;
  transform: translateX(-100%);
  width: 100%;
  height: 100%;
  background: #496bfe;
  transition: all 0.3s ease-out;
  z-index: 1;
}
.button__text {
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}

.home {
  background-image: url("../images/section1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 15px;
  padding-top: 270px;
  margin-top: 15px;
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}
.home__title {
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 10px;
}
.home__text {
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 7px;
}
.home__finder {
  padding-top: 50px;
  padding-bottom: 120px;
}
.home__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 650px;
  height: 60px;
  background-color: #ffffff;
  margin: 0 auto;
}
.home__input {
  flex-grow: 1;
  height: 52px;
  border-color: transparent;
  text-align: center;
}
.home__submit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2px;
  width: 150px;
  height: 56px;
  background-color: #5474fd;
  color: #ffffff;
}
.home__submit:hover {
  background-color: #496bfe;
  border: 1px solid #ffffff;
  font-size: 18px;
}
.home .scroll {
  padding-bottom: 130px;
  position: relative;
  margin: 0 auto;
}
.home .scroll__down {
  cursor: pointer;
  display: block;
  width: 130px;
  height: 40px;
  color: #ffffff;
  text-decoration: none;
}
.home .scroll__text {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 2px;
}
.home .scroll::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 12px;
  background-color: #ffffff;
  top: 15%;
  right: 50%;
  transform: rotate(-45deg);
}
.home .scroll::after {
  position: absolute;
  content: "";
  left: 45%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.menu {
  background-color: #5474fd;
}
.menu__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}
.menu__link,
.menu .logo__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  padding: 20px;
}
.menu__link:hover,
.menu .logo__link:hover {
  height: 20px;
  background-color: #496bfe;
  font-size: 16px;
}
.menu .menu__link {
  font-family: "Aleo", Arial, Helvetica, sans-serif;
}
.menu .logo__link {
  font-size: 24px;
}
.menu .logo__link:hover {
  height: 24px;
  font-size: 26px;
}
.menu__button {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}
.menu__button_line, .menu__button::after, .menu__button::before {
  position: absolute;
  background-color: #ffffff;
  content: "";
  width: 25px;
  height: 3px;
  left: 5px;
}
.menu__button::before {
  top: 5px;
}
.menu__button::after {
  top: 15px;
}
.menu__button_line {
  top: 25px;
}
@media screen and (max-width: 768px) {
  .menu__button {
    display: block;
    right: 10px;
  }
}
@media screen and (max-width: 768px) {
  .menu__input:checked ~ .menu__list {
    display: block;
  }
  .menu__input:checked ~ .menu__button::before {
    transform: rotate(45deg);
    top: 10px;
  }
  .menu__input:checked ~ .menu__button::after {
    transform: rotate(-45deg);
    top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .menu__item {
    border: 3px solid #ffffff;
  }
}
.menu__item:nth-last-child(2), .menu__item:first-child, .menu__item:nth-last-child(3) {
  border-bottom: none;
}

.choose {
  background-image: url("../images/section2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 15px;
}
.choose__wrapper {
  display: flex;
}
.choose__description {
  padding: 240px 100px 170px 0;
  max-width: 510px;
}
.choose__title {
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 36px;
  padding-bottom: 70px;
}
.choose__text {
  color: #e8e8e8;
  line-height: 1.4;
  padding-bottom: 35px;
}
.choose__images {
  display: block;
  max-width: 500px;
  padding-top: 120px;
}
.choose__img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}
.choose__img:first-of-type {
  padding-bottom: 5px;
}
.choose__img:nth-child(2) {
  max-width: 100%;
  float: right;
}
@media screen and (max-width: 768px) {
  .choose__img {
    display: none;
  }
}

.search {
  margin: 0 15px;
  background-color: #333333;
}
.search__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 337px;
}
.search__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search__list:first-of-type {
  padding-left: 70px;
}
.search__list:last-of-type {
  padding-right: 70px;
}
.search__img {
  transform: translateX(120%);
  width: 60px;
  height: 60px;
  padding-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .search__img {
    transform: translateX(60%);
  }
}
.search__line_one {
  position: absolute;
  top: 30px;
  left: 220px;
  transform: rotate(180deg);
  width: 25%;
  height: 100px;
}
@media screen and (max-width: 992px) {
  .search__line_one {
    display: none;
  }
}
.search__line_two {
  position: absolute;
  top: 30px;
  right: 220px;
  transform: rotate(180deg);
  width: 25%;
  height: 100px;
}
@media screen and (max-width: 992px) {
  .search__line_two {
    display: none;
  }
}
.search__text {
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  color: #e8e8e8;
  font-size: 36px;
}
@media screen and (max-width: 768px) {
  .search__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .search__text {
    font-size: 0;
  }
}

.loft {
  background-image: url("../images/section4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 15px;
  padding-top: 230px;
  padding-bottom: 100px;
  min-height: 380px;
}
.loft__description {
  display: block;
  box-sizing: border-box;
  max-width: 550px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 50px 20px 50px 20px;
}
.loft__subtitle, .loft__title {
  font-size: 20px;
}
.loft__subtitle, .loft__text {
  color: #bdbcbb;
}
.loft__title {
  color: #ffffff;
  padding-top: 30px;
  text-transform: uppercase;
}
.loft__text {
  font-size: 14px;
  padding-top: 30px;
  line-height: 1.6;
  padding-bottom: 50px;
}

.mountain {
  background-image: url("../images/section5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 15px;
  padding-top: 230px;
  padding-bottom: 100px;
  min-height: 380px;
}
.mountain__description {
  float: right;
  display: block;
  box-sizing: border-box;
  max-width: 550px;
  background-color: rgba(35, 35, 35, 0.9);
  padding: 50px 20px 50px 20px;
}
.mountain__subtitle, .mountain__title {
  font-size: 20px;
}
.mountain__subtitle, .mountain__text {
  color: #bdbcbb;
}
.mountain__title {
  color: #ffffff;
  padding-top: 30px;
  text-transform: uppercase;
}
.mountain__text {
  font-size: 14px;
  padding-top: 30px;
  line-height: 1.6;
  padding-bottom: 50px;
}

.feedback {
  background-image: url("../images/section6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 15px;
  min-height: 750px;
}
.feedback__header {
  padding-top: 115px;
  text-align: center;
  padding-bottom: 100px;
}
.feedback__title {
  font-family: "Aleo", Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #ffffff;
}
.feedback__img {
  max-width: 450px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .feedback__img {
    display: none;
  }
}
.feedback__main {
  display: flex;
  align-items: stretch;
}
.feedback__description {
  padding: 45px 50px 0 45px;
  max-width: 660px;
  box-sizing: border-box;
  background-color: #333333;
  position: relative;
}
@media screen and (max-width: 768px) {
  .feedback__description {
    min-width: 100%;
    padding-right: 0;
  }
}
.feedback__author {
  font-size: 20px;
  text-transform: uppercase;
  color: #e8e8e8;
  padding-bottom: 35px;
}
.feedback__text {
  position: relative;
  color: #e8e8e8;
  line-height: 1.6;
  font-size: 14px;
}
.feedback__text::before {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: #5474fd;
  font-size: 55px;
  content: "“";
  top: -30px;
  left: 0;
}

.footer {
  background-color: #333333;
  margin: 0 15px 15px 15px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo {
  padding-top: 120px;
  text-align: center;
}
.footer__link {
  display: block;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 24px;
}
.footer__link:hover {
  padding: 20px;
  background-color: #496bfe;
}
.footer__text {
  padding-top: 20px;
  color: #e8e8e8;
}
.footer__media {
  display: flex;
  padding-top: 33px;
  padding-bottom: 54px;
}

.social-btn__image {
  padding-right: 20px;
}

.social-btn__image:last-of-type {
  padding-right: 0;
}

.social-btn__img {
  width: 17px;
  height: 18px;
}