.footer {
background-color: #232323;
}

.footer__logo {
    display: block;
    margin: 0 auto;
    width: 163px;
    height: 20px;
    padding-top: 120px;
}

.footer__item {
    color: $footerItem;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.6px;
    padding: 15px 0 15px;
}

.footer__icons{
    text-align: center;
    padding-bottom: 52px;
}

.icon {
    height: 15px;
    width: 15px;
}

.footer__link{
    text-decoration: none;
    padding-right: 24px;
}

.footer__link:last-child{
    padding-right: 0px;
}

.icon:hover svg{
    fill:$iconFill;
}
