.menu {
    background-color: $menuBg;
}

.menu__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu__logo {
    padding: 28px 0 32px;
}

.menu__list {
    display: flex;
    padding: 28px;
    cursor: pointer;

    @media (max-width:860px) {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1;
    }
}

.menu__item {
    padding: 0 21px;
}

.menu__links {
    color: $textColor;
    font-family: $secondary-fonts;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 2px;
}

.menu__item:hover .menu__links {
    color: $hoverForButton;
}

.menu__btn {
    margin-top: 28px;
    width: 30px;
    height: 30px;
    display: none;
    position: relative;
    cursor: pointer;

    @media (max-width:860px) {
        display: block;
    }
}

.menu__burger,
.menu__btn::before,
.menu__btn::after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: .3s ease-in-out;
}

.menu__btn::before {
    top: 0;
}

.menu__btn::after {
    bottom: 0;
}

.menu__burger {
    top: 13px;
}

@media (max-width:860px) {
    .menu__input:checked {
        &~.menu__list {
            display: block;
        }

        &+.menu__btn .menu__burger {
            background-color: transparent;
        }

        &+.menu__btn::before {
            top: 13px;
            transform: rotate(45deg);
        }

        &+.menu__btn::after {
            top: 13px;
            transform: rotate(-45deg);
        }
    }

    .menu__list {
        width: 60%;
        text-align: center;
        background-color: $menuBg;
        transform: translateY(-125%);
        transition: .3s ease-in-out;
    }
}
