.review{
    @include bgCover('../images/11-min.jpg');
    padding-bottom: 200px;
}

.review__item {
    padding: 120px 0 94px;
    font-family: $secondary-fonts;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.review__block {
    display: flex;
    background-color: $reviewBlock;
}

.review__img {
    width: 100%;
    display: block;
    margin-right: 60px;
}

.review__textblock {
    margin: 0 auto;
    max-width: 551px;
}

.review__icon {
    padding-bottom: 8px;
}

.review__i{
    padding: 50px 0 33px;
    color:$textColor;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.review__text {
    color: $reviewText;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    padding-bottom: 48px;
}

@media (max-width:849px) and (min-width:768px){
    .review__block {
        display: block;
    }
    .review{
        padding-bottom: 150px;
    }
}

@media (max-width:767px) and (min-width:576px){
    .review__item {
        padding: 70px 0 50px;
    }
    .review__block {
        display: block;
    }
    .review{
        padding-bottom: 100px;
    }
}

@media (max-width:575px){
    .review__item {
        padding: 50px 0 50px;
    }
    .review__block {
        display: block;
    }
    .review{
        padding-bottom: 50px;
    }
}
