//Polygraphy

$default-fonts-name: "Josefin Sans";
$follbak: Arial, Helvetica, sans-serif;
$default-fonts: $default-fonts-name, $follbak;
$default-font-size: 16px;


$secondary-fonts-name: "Aleo";
$secondary-fonts: $secondary-fonts-name, $follbak;
//Color
$white:white;
$darkGray:#999999;
$royalBlue: #5474fd;
$ultramarineBlue:#496bfe;
$darkCharcoal:#333333;
$whisper:#e8e8e8;
$nero:#232323;
$gradColor: rgba($color: #232323, $alpha: 0.9);

$textColor:$white;
$seachInput:$white;
$seachInputText:$darkGray;
$seachBorder:$white;
$seachButtonBg:$royalBlue;
$btnBg:$royalBlue;
$btnText:$white;
$btnBefore:$ultramarineBlue;
$bookBgCl:$darkCharcoal;
$menuBg:$royalBlue;
$menuText:$white;
$bookItem:$whisper;
$chooseText:$whisper;
$footerItem:$nero;
$iconFill:$royalBlue;
$reviewBlock:$darkCharcoal;
$reviewText:$whisper;
$countryDescr:$gradColor;
$contryItem:$whisper;

